<!--users/templates/registration/password_reset_form.html-->

{% extends 'base.html' %}
{% load static %}
{% block title %}
     Password reset
{% endblock title %}

{% block css %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link rel="stylesheet" href="{% static 'css/users/login.css' %}" type="text/css">

<link rel="stylesheet" href="{% static 'css/contact.css' %}" type="text/css">
<style>
  /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
  #map {
    height: 100%;
  }
</style>
{% endblock css %}
{% block content %}
<section class="s2 user_info ">
  <div id="side-page" class="container">
    <h1 class="brand"><span>Reset Password</span></h1>
    <div class="wrapper animated bounceInLeft ">
      
      <div>
        <div class="form-info">
          <div class="form">
            <form method="post">
              <div>
                {{ form.as_p }}
              </div>
              <div id="f">
                <a href="{% url 'password_reset' %}">Forgot password?
                </a>

              </div>

              <p class="full">
                <button type="submit" value="Login">Submit</button>
              </p>
            </form>
          </div>
          <div class="buttons">
            <a href="{% url 'signin' %}">Login</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}