.description{/* From https://css.glass */
      /* background: rgba(255, 255, 255, 0.15); */
      /* border-radius: 16px; */
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.27);
      /* height: 100%;  */
      /* margin-bottom: 50px; */
      position: initial;
  }
  .des-p {
      display: block;
      align-items: center;
      margin:0 auto;
      padding-top: 0px;
      }
  .des-p h1{
      color: var(--text-color);
      height: 120px;
      font-size: 20px !important;
      font-weight: bold;
      padding-top: 40px;
      margin-bottom: 30px;
  }
  .des-p p{
      color: var(--text-color);
      font-size: 19px;
      font-weight: 600;
      line-height: 1.7em;
      letter-spacing: 0;
  }
  .des-p button{
      color: rgb(44, 42, 42);
      background: var(--accent-color);
      border-radius: 30px;
      box-shadow: 0 0 15px rgba(52, 30, 30, 0.6);
      font-weight: 600;
  }
  .des-p button:hover{
    background: var(--accent-color-hover);
  }
    /* sticker colors */
    .green {
      background-color: #61bd4f;
    }
    
    .purple {
      background-color: #c377e0;
    }
    
    .yellow {
      background-color: #f2d600;
    }
    
    .pink {
      background-color: #eb5a46;
    }
    
    .blue {
      background-color: #189db1;
    }
    .grey {
      background-color: #808080;
    }
    .red {
      background-color: #a32727;
    }
    .card__title {
      color: #17394d;
      margin-bottom: .75rem;
    }
.frontP-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap:10px;
    justify-content: center;
    /* padding-bottom: 50px; */
    grid-auto-flow: dense; /*helps rearrange Item to fit well on grid*/
    /* background-color: rgb(20, 19, 19); */
    padding-top: 20px;

    position: relative;
    /* top: -100px; */
  }
  .counter{
    background-color: var(--bg-color);
    color: var(--text-color);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    height: fit-content;
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow to all cards */
  }
  .frontP-cards .counter:nth-child(even) {
    background-color: var(--inverted-bg-color); /* Invert the background color for even rows */
    color: var(--inverted-text-color);/* Set the text color for even rows (optional) */ 
  }
  .counter .counter-num{
    font-size: 150% !important;
    font-weight: 700 ;
  }
  
@media (min-width: 768px){
    .des-p h1{
      font-size: 35px !important;
    }
    #description-page{
        padding-left: 80px;
        padding-right: 80px;
    }
    .des-p-p{
        padding-left: 90px;
        padding-right: 90px;
    } 
}    