.services{
    display: grid;
    grid-template-columns: auto 400px;
    align-items: center;
}
.div1{ 
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(auto-fit, 260px);
	/* grid-gap:10px; */
    margin-top: 20px;
    margin-bottom: 20px;
	justify-content: center;
	grid-auto-flow: dense; /*helps rearrange Item to fit well on grid*/
    
}
.div1 .service--{
    background-color: var(--odd-bg-color);
    border: 1px solid var(--odd-bg-color);
    padding: 15px 10px;
}
.div1 .service--:nth-child(even){
    background-color: var(--even-bg-color);
    border: 1px solid var(--even-bg-color);
}
.div1 .service--:hover {
        background-color: rgba(251, 251, 251, 0.1);
        backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
    
}
.div1 .service-- .title{
    margin-bottom: 10px;
    text-transform: uppercase;
    white-space: nowrap;
    display: flex;
    width: 100%;
    overflow: hidden;
    font-weight: 700;
    text-overflow: ellipsis;
    align-items: center;
    justify-content: center;
}
.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}
.service p{
    text-align: center;
}
.fa-icon{
    font-size: 24px;
}

.div2{
    padding: 20px;
    background: white;
    margin: 20px 30px;
    height: fit-content;
    color: black;
    font-weight: 500;
}
.div2 h5{
    text-align: center;
    background: var(--primary-color);
    color: white;
    font-weight: 700;
    padding: 10px 0;
}

.form-group{
    margin: 5px 0;
}
input{
    width: 100%;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.button button{
    border-radius: 20px;
    padding: 2px 20px;
    background: var(--accent-color);
    color: black;
    font-weight: 600;
}
.button button:hover{
    background: var(--accent-color-hover);
}

/* IDEA: Mobile to Tablet */
@media (min-width: 320px) and (max-width: 826px){
    .services{
        display: flex;
        flex-direction: column;
    }
    .div1, .div2{
        width: 90%;
        padding: 20px;
    }
}