
{% load static %}

{% comment %} {% block title %} 
  Services
{% endblock title %} {% endcomment %}

{% block css %}
{{ form.media }}
<link rel="stylesheet" href="{% static 'css/services.css' %}" type="text/css">
<style>
    .service-- a{
        text-decoration:none;
    }
</style>
{% endblock css %}

<section class="services " id="SERVICES"> <!-- s2 -->
    <div class="div1">
        {% for category in service_categories %}
        <div class="service--">
            <a href="{% url 'services_offered' slug=category.slug %}">
                <div class="service edit-icon-h">
                    <div>
                        <img src="{{category.img_icon.url}}" width="110" height="100" alt="Image">
                    </div>
                    <h2 class="title">
                        {{ category.category_name }}
                    </h2>
                    <p>
                        {{ category.cat_description }} 
                    </p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% include 'services/appointments.html' %}  
</section>