{% extends 'base.html' %}
{% load static %}

{% block title %} 
  Home
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/home_page.css' %}" type="text/css">

<style>
  .description--page {
    /*background-image: url('{{ background_image_url }}'); For dynamic BG image*/ 
    background-image: url("{% static 'images/PnP_Auto_background_image.jpg' %}");
    /*background-size: cover;  Scale the background image to cover the entire container */
    background-position: center; /* Center the background image within the container */
    min-height: 89vh;
    padding-bottom: 100px;
    position: relative;
  }
  
  /*fOR ENFORCING BLUR ON THE IMAGE*/
  .description--page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: inherit;
    background: var(--bg-color);
    /*filter: blur(90px);*/
    opacity: 0.8;
  }
  .des-p{
    position: inherit;
  }
</style>
{% endblock css %}

{% block content %}
<section class=" description"> <!-- s2 -->
  <div id="description-page" class="description-page description--page">
      <div class="item2 des-p text-center container">
          <div>
            <h1 id="typewriter"> 
              {{info.heading}} 
              <!-- Fast, efficient and result Oriented -->
            </h1>
            <script>
              // Get the heading text from Django context
              var headingText = "{{ info.heading }}";
          
              // Get the target element where the typewriter effect will be displayed
              var typewriterElement = document.getElementById('typewriter');
          
              // Function to display the typewriter effect
              function typewriterEffect(text, i, speed) {
                  if (i < text.length) {
                      typewriterElement.innerHTML = text.substring(0, i + 1) + '<span class="wrap">|</span>';
                      setTimeout(function () {
                          typewriterEffect(text, i + 1, speed);
                      }, speed);
                  } else {
                      // Pause for a certain duration at the end of the message
                      setTimeout(function () {
                          // Clear the typewriter effect
                          typewriterElement.innerHTML = '';
                          // Restart the typewriter effect after a delay
                          setTimeout(function () {
                              typewriterEffect(text, 0, speed);
                          }, 1000); // Adjust the delay duration (in milliseconds) before restarting
                      }, 2000); // Adjust the pause duration (in milliseconds) after the message ends
                  }
              }
          
              // Start the typewriter effect
              typewriterEffect(headingText, 0, 100); // Adjust the speed (in milliseconds) as needed
            </script> 
          </div>
          <div class="des-p-p home">
            <p>
               {{info.body}}
                <!-- Do you have an idea,TEKNICS Technologies is here to help you turn that idea
                into a reality. We build and deploy Web Apps, Websites, Computer Softwares and Mobile Apps. You name it We do it.     -->
            </p>
          </div>
          <button class="text-center book-button" type="submit">Let's Consult</button>
      </div>
      <div class="frontP-cards">
							
        <div class="counter">
          <img src="{% static 'images/homepage_icons/icon-car.png' %}" class="counter-icon">
          <h3 class="counter-num">1500</h3>
          <small class="counter-label">car repaired</small>
        </div>
        
        
        <div class="counter">
          <img src="{% static 'images/homepage_icons/icon-wrench.png'%}" class="counter-icon">
          <h3 class="counter-num">5000</h3>
          <small class="counter-label">diagnoses</small>
        </div>
        
        
        <div class="counter">
          <img src="{% static 'images/homepage_icons/icon-gears.png'%}" class="counter-icon">
          <h3 class="counter-num">6000</h3>
          <small class="counter-label">gears changed</small>
        </div>
        
        
        <div class="counter last">
          <img src="{% static 'images/homepage_icons/icon-oil.png'%}" class="counter-icon">
          <h3 class="counter-num">1200</h3>
          <small class="counter-label">oil litres used</small>
        </div>
        
      </div>
  </div> 
</section> 

{% include 'home_page_includes/about.html' %} 

{% include 'home_page_includes/services.html' %}  


{% endblock content %}